body {
    background-color: var(--pale-blue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#main {
    width: 100%;
    height: 100vh;
}

#card {
    width: 17rem;
    /* height: 25rem; */

    background-color: var(--very-pale-blue);

    border-radius: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#illustration {
    width: 100%;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#main,
#article
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#article,
#card
{
    flex-direction: column;
}

#article {
    margin: 20px 15px;


}

#article > :is(h3, span) {
    text-align: center;
}

#article > h3 {
    font-weight: bold;

    color: var(--dark-blue);

    margin-bottom: 10px;
}

#article > span {
    color: var(--desaturated-blue);

    font-size: 0.7rem;

    line-height: 17.5px;
}

#input-select-price {
    width: 90%;

    padding: 15px;

    background-color: var(--pale-blue-alpha);

    border-radius: 15px;

    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-select-price > img {
    width: 35px;
}

#details-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 1;

    margin-left: 20px;
}

#details-payment > span,
#link-change
{
    font-size: 11.5px;
}

#type-payment {
    font-weight: 900;
}

#price-for-year {
    color: var(--desaturated-blue);
}